$color-white: #ffffff;
$color-black: #000000;
$color-light: #f2f2f2;
$color-mid-light: #f0f1f1;
$color-light-gray: #aeaeaf;
$color-mid-gray: #e2e3e4;
$color-gray: #30353b;
$color-gray-2: #535c65;
$color-green: #bee716;
$color-orange: #ff7607;
